body{
    padding-left: 350px;
    padding-right: 450px;
}
.input-heading
{
    padding: 8px;
    font-family: 'Lato', sans-serif;
    
}
.class-name
{
    size: 0px;
}
#submit-id
{
    margin: 15px;
    padding: 10px;
    height: 200%;
    background-color: rgb(73, 245, 73);
    border: none;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
#reset-id
{
    background-color: rgb(73, 245, 73);
    border: none;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 15px;
    height: 200%;
    padding: 10px;
}
.footer-class
{
    padding: 1%;
    border-top: 0.5px solid rgb(197, 195, 195);
}
.footer-left
{
    
}